.btn {
  display: inline-block;
  background-color: #9B15C1;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1rem 1.7rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  max-width: 12rem;
  margin: 20px;
}

.btn:hover {
  background-color: #8618A4;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  color: #9B15C1;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}